<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container">
		<div class="hero">
			<h1 class="name"><strong>Fun</strong>Bill</h1>
			<span class="job-title">Online Bill Splitting App</span>
			<span class="email">Fall 2022 Software Engineering <br> Section 5 Team 1 </span>

			<h2 class="lead">Hi there! We're the team behind FunBill, your favorite bill splitting web application!
				Here you can get to know a little more about our wonderful team.
			</h2>
		</div>

	</div>


	<!-- Group Members -->

	<div class="container cards">

		<div class="card">
			<div class="skill-level">
				<img src="resources/denyse.jpg" alt="" width="81%" height="81%" />
				<span></span>
				<h2></h2>
			</div>

			<div class="skill-meta">
				<h3>Denyse Luzon</h3>
				<span>Team Lead</span>
			</div>
			<a href="denyse.html">
				<span class="link"></span>
			</a>
		</div>


		<div class="card">
			<div class="skill-level">
				<img src="resources/bhagdeep.jpg" alt="" width="55%" height="55%" style="float:right ;" />
				<span></span>
				<h2></h2>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="skill-meta" style="margin-right: 45px;">
				<h3>Bhagdeep Sandhu</h3>
				<span>Database Master</span>
			</div>
			<a href="bhagdeep.html">
				<span class="link"></span>
			</a>
		</div>


		<div class="card">
			<div class="skill-level">
				<img src="resources/faiyaz.png" alt="" width="75%" height="75%" />
				<span></span>
				<h2></h2>
			</div>

			<div class="skill-meta">
				<h3>Faiyaz Chaudhury</h3>
				<span>Backend Lead</span>
			</div>
			<a href="faiyaz.html">
				<span class="link"></span>
			</a>
		</div>


		<div class="card">
			<div class="skill-level">
				<img src="resources/kaung.jpg" alt="" width="90%" height="90%"  />
				<span></span>
				<h2></h2>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="skill-meta">
				<h3>Kaung Nay Htet</h3>
				<span>Backend Team</span>
			</div>
			<a href="kaung.html">
				<span class="link"></span>
			</a>
		</div>

		<div class="card">
			<div class="skill-level">
				<img src="resources/Poornank.jpg" alt="" width="65%" height="65%" style="float: right;"/>
				<span></span>
				<h2></h2>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="skill-meta">
				<h3>Poornank Purohit</h3>
				<span>Frontend Lead</span>
			</div>
			<a href="poornank.html">
				<span class="link"></span>
			</a>
		</div>

		<div class="card">
			<div class="skill-level">
				<img src="resources/tolby.jpg" alt="" width="55%" height="55%" />
				<span></span>
				<h2></h2>
			</div>

			<div class="skill-meta">
				<h3 style="text-align: right;">Tolby Lam</h3>
				<span>Frontend Team, GitHub Master</span>
			</div>
			<a href="tolby.html">
				<span class="link"></span>
			</a>
		</div>

	</div>
	<br><br>

</body>
</html>